#centered_box_blue{
    background: #fafafa;
    padding: 2%;
    /*good color is #9e9e9e*/
    /*box-shadow: 5px 5px 15px #888888;*/
     /*box-shadow: 5px 5px 15px #888888;*/
    color: #757575;
    font-size:125%;

}
