/*form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }*/

label {
    display: inline-block;
    width:15vw;
    text-align: left;
}

label.losttime {
    display: inline-block;
    width:12vw;
    text-align: left;
}